<%#
  Global Header

  @param active_tab [String] (nil) active tab name
%>

<%
  active_tab = local_assigns.fetch(:active_tab, nil)
%>

<%= content_tag :div, class: "global-header p-4", role: "global-header" do %>
  <ul class="nav nav-pills mb-3" role="tablist">
    <li class="nav-item">
      <%= link_to "All Games", games_path, class: "nav-link #{active_tab == "All Games" ? "active" : ""}" %>
    </li>
  </ul>
<% end %>
