<%= global_header %>

<% if !@game.winner? %>

<%= game_board game: @game %>

<% else %>

<h1>WE HAVE A WINNER!!!</h1>
<%= "Winner is: " + @game.winner.name %>
<%=
  button_to "Delete Game",
  game_path(@game.id),
  method: :delete,
  id: "delete-game-#{@game.name}"
%>

<% end %>
