<h1>Game: <%= @game.name %></h1>
<br />
<table>
  <thead>
    <tr>
      <td>Players:</td>
    </tr>
  </thead>
  <tbody>
    <% @game.players.each_with_index do |player, index| %>
      <tr>
        <td />
        <td><%= "Player #{index + 1}: #{player.name}" %></td>
        <td><%= "Position: #{player.position}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Add New Player", new_game_player_path(@game.id), :method => :get %>